<html>
    <head>
        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    </head>
    <body class="container_login">
        <div class='flex_column'>
            <div class="flex heading_div">
                <img src="../public/images/workos-logo-with-text.png" alt="workos logo">
            </div>
            <h2>Node.js Admin Portal Example App</h2>
            <form method="POST" action="/find-enterprise">
                <div class='flex_column'>
                    
                    <div>
                        <input type="text" placeholder="<% if (locals.error) { %> <%=error.message%> <% } else { %> <%='Organization ID'%> <% } %>" id="orgID" name="orgID"class="text_input" required>
                    </div>
                    <div>
                        <button type="submit" class="button">Find Organization and Log In</button>
                    </div>
                </div>
            </form>
            <form method="POST" action="/provision-enterprise">
                <div class='flex_column'>
                    <div>
                        <input type="text" placeholder="Organization Name" id="orgName" name="orgName" class="text_input" required>
                    </div>
                    <div>
                        <input type="text" placeholder="A Space Separated List of User Email Domains" id="domain" name="domain" class="text_input text_input_2" required>
                    </div>
                    <div>
                        <button type="submit" class="button">Create Organization and Log In</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
