<html>
    <head>
        <link rel="stylesheet" href="../public/css/styles.css">
    </head>
    <body class="container_login">
        <div class='flex_column'>
            <div class="flex heading_div">
                <img src="../public/images/workos-logo-with-text.png" alt="workos logo">
            </div>
            <h2>Node.js Magic Link Example App</h2>
            <p>Check your email <%=email%> for your magic link!</p>
            <p>Check your email for your magic link!</p>
            <p><a href=<%=link%>><%=link%></a></p>

        </div>
    </body>
</html>