<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter" />
    </head>

    <body class="container_success">
        <div class="logged_in_nav">
            <div class="flex">
                <div>
                    <img src="../public/images/workos-logo-with-text.png" alt="workos logo" />
                </div>
            </div>
            <div class="flex">
                <a href="https://workos.com/docs" target="_blank">
                    <button class="button nav-item">Documentation</button>
                </a>
                <a href="https://workos.com/docs/reference" target="_blank">
                    <button class="button nav-item">API Reference</button>
                </a>
                <a href="https://workos.com/blog" target="_blank">
                    <button class="button nav-item blog-nav-button">Blog</button>
                </a>
                <a href="https://workos.com/" target="_blank">
                    <button class="button button-outline">WorkOS</button>
                </a>
            </div>
        </div>
        <div class='flex'>
            <div class="logged_in_div_right">
                <div class="flex_column">
                    <div class="flex space-between width-725px">
                        <div class="flex">
                            <h2>MFA Factors</h2>
                        </div>
                        <div class="flex space-between">
                            <a href="/enroll_factor">
                                <button class="button button-outline button-sm">Enroll New Factor</button>
                            </a>
                            <a href="/clear_session">
                                <button class="button button-outline button-sm">Clear Factors</button>
                            </a>
                        </div>
                    </div>
                </div>
                <div>
                    <% if (factors.length > 0 ) { %>
                    <table class="width-725px">
                        <tr>
                            <th>Type</th>
                            <th>ID</th>
                            <th>View Details</th>
                        </tr>
                        <% for (var i=0; i < factors.length; i++) { %>         
                        <tr>
                            <td><%=factors[i].type%></td>
                            <td><%=factors[i].id%></td>               
                            <td>
                                <a class="button button-outline" href="/factor_detail/<%=factors[i].id%>">
                                    <i icon-name="settings-2" class="stroke_width=1"></i>
                                </a>
                            </td>
                        </tr>
                        <% } %>
                    </table> 
                    <% } else { %>
                    <div class="mt-20 card width-40vw">
                        <p style="text-align: center; color: gray;">No Current Factors</p>
                    </div>
                    <% } %>
                </div>     
            </div>
        </div>
        <script src="https://unpkg.com/lucide@latest"></script>
        <script>
            lucide.createIcons();
        </script>
    </body>
</html>
