<html>
    <head>
        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    </head>
    <body class="container_login">
        <div class='flex_column'>
            <div class="flex heading_div">
                <img src="../public/images/workos_logo_new.png" alt="workos logo">
                <div class="heading_text_div">
                    <h1>WorkOS</h1>
                </div>
            </div>
            
            <h2>Node.js Directory Sync Example App</h2>
            <form method="POST" action="/passwordless-auth">
                <div class='flex_column'>
                    <a href="/webhooks" class="button login_button button_outline">Test Webhooks</a>
                        <% for(let i=0; i<directories.length; i++) {%>
                            <a href="/directory/<%=directories[i].id%>"><button class='button'><%= directories[i].name %></button></a>
                        <% } %>    
                </div>
            </form>
        </div>
    </body>
</html>
