<html>
    <head>
        <link rel="stylesheet" href="../public/stylesheets/style.css">
    </head>
    <body class="container_success">
        <div class="logged_in_nav">
            <div class="flex">
                <p>Webhook Details</p>
            </div>
            <div>
                <img src="../public/images/workos_logo_new.png" alt="workos logo">
            </div>
        </div>
        <div class='flex'>
            <div class="logged_in_div_left">
                <div>
                    <h1>Your app,</h1>
                    <h2>Enterprise Ready</h2>
                </div>
                <div>
                    <a href="https://workos.com/" target="_blank"><button class='button'>WorkOS</button></a>
                    <a href="https://workos.com/docs" target="_blank"><button class='button'>Documentation</button></a>
                    <a href="https://workos.com/docs/reference" target="_blank"><button class='button'>API Reference</button></a>
                    <a href="https://workos.com/blog" target="_blank"><button class='button'>Blog</button></a>
                    
                    
                </div>
            </div>
            <div class="logged_in_div_right">
                <div class="flex_column">
                    <h2>Webhook Details</h2>
                </div>
                <div class="logged_in_div_right">
                    <div class="flex_column directory_container">
                      <div class="flex flex_column">
                        <h1>Node Webhooks Example</h1>
                        <div class="text_box" id="empty"></div>
                        <a href="/webhooks" class="button login_button">Clear</a>
                        <div style="margin-top: 20px" id="webhooks-view"></div>
                      </div>
                    </div>
                  </div>
                  <a href="javascript:history.back()"><button class='button'>Back</button></a>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();

            socket.on('webhook event', function(event){
                var wh = document.createElement('h4');
                wh.textContent = JSON.stringify(event.webhook);
                document.getElementsByClassName('text_box')[0].appendChild(wh);
            });
         </script>
    </body>
</html>