<html>
    <head>
        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
    </head>
    <body class="container_success">
        <div class="logged_in_div_left flex_column">
            <div class="flex logged_in_div_left_title">
                <div><h2><%=orgName%></h2></div>
                <div><i icon-name="settings" class="stroke_width=1"></i></div>
            </div>
            <hr style="height:0.5px;width:75%;">
            <div class="flex flex_column success-buttons">
                <a href="/logout">
                    <div class="flex sidebar-button">
                        <div><i icon-name="settings-2" class="stroke_width=1"></i></div>
                        <div>
                            <p>Organizations</p>
                        </div>
                    </div>
                </a>
                <div class="flex sidebar-button selected">
                    <div><i icon-name="edit" class="stroke_width=1"></i></div>
                    <div>
                        <p>Audit Logs</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="logged_in_div_right">
            <div class="logged_in_nav">
                <div class="flex">
                    <div>
                        <a href="https://workos.com/docs" target="_blank"><button class='button nav-item'>Documentation</button></a>
                    </div>
                    <div>
                        <a href="https://workos.com/docs/reference" target="_blank"><button class='button nav-item'>API
                            Reference</button></a>
                    </div>
                    <div>
                        <a href="https://workos.com/blog" target="_blank"><button
                            class='button nav-item blog-nav-button'>Blog</button></a>
                    </div>
                    <div>
                        <a href="https://workos.com/" target="_blank">
                            <img class="nav-image" src="../public/images/workos_favicon.png" alt="link to workos.com">
                        </a> 
                    </div>
                </div>
            </div>
            <div class="flex_column width-65vw logged_in_right_content">
                <div class="flex flex-start width-65vw page-title">
                    <div><h2>Audit Logs</h2></div>
                </div>
                <div class="flex card width-65vw space-between ">
                    <code class="org-id"><%=orgId%></code>
                    <div>                    
                        <a href="/logout"><button class="button">Change Org</button></a>
                    </div>                
                </div>
                <div class="card events-card width-65vw height-45vh">
                    <div class="flex flex-start">
                        <div class="flex-column flex-start">
                            <div data-tab-target="#send-events" name='#send-events' class="flex space-evenly width-11vw content-button tab">
                                <div><i icon-name="send" class="stroke_width=1"></i></div>
                                <div>
                                    <a href="#send-events" class="remove-style"><button class="remove-style">Send Events</button></a>
                                </div>                            
                            </div>
                            <div data-tab-target="#export-events" name='#export-events' class="flex space-evenly width-11vw content-button  tab">
                                <div><i icon-name="download" class="stroke_width=1"></i></div>
                                <div>
                                    <a href="#export-events" class="remove-style"><button class="remove-style">Export Events</button></a>
                                </div>                            
                            </div>
                            <div class="flex space-evenly width-11vw content-button tab">
                                <div><i icon-name="eye" class="stroke_width=1"></i></div>
                                <div>
                                    <a href="/events?intent=audit_logs" class="remove-style"><button class="remove-style">View Events</button></a>
                                </div>                            
                            </div>
                            <div class="flex space-evenly width-11vw content-button tab">
                                <div><i icon-name="share-2" class="stroke_width=1"></i></div>
                                <div>
                                    <a href="/events?intent=log_streams" class="remove-style"><button class="remove-style">Configure Log Streams</button></a>
                                </div>                            
                            </div>
                        </div>
                        <div class="tab-content">
                            <div id="send-events" name='#send-events' data-tab-content class="flex_column">                          
                            <div>
                                <h3>Send Events</h3>
                            </div>
                            <hr style="height:0.5px;width:100%;margin-bottom:25px;">                                                 
                            <form id="send-event-form" onsubmit="onSendEventSubmit()">
                                <div class="event-form-input-group flex-column flex-start">
                                    <div><label for="event-action">Event Action</label></div>
                                    <div><input required name="event-action" class="text-input" id="event-action" type="text" placeholder="Defined in your WorkOS Dashboard, e.g. user.organization_set"></div>
                                </div>                           
                                <div class="event-form-input-group flex-column flex-start">
                                    <div><label for="event-version">Event Version</label></div>
                                    <div><input required name="event-version" class="text-input" id="event-version" type="text" placeholder="Defined in your WorkOS Dashboard, e.g. 1"></div>
                                </div>
                                <div class="event-form-input-group flex-column flex-start">
                                    <div><label for="actor-name">Actor Name</label></div>
                                    <div><input required name="actor-name" class="text-input" id="actor-name" type="text" placeholder="Name of the user who completed the action"></div>
                                </div>
                                <div class="event-form-input-group flex-column flex-start">
                                    <div><label for="actor-type">Actor Type</label></div>
                                    <div><input required name="actor-type" class="text-input" id="actor-type" type="text" placeholder="Type of the user who completed the action"></div>
                                </div>
                                <div class="event-form-input-group flex-column flex-start">
                                    <div><label for="target-name">Target Name</label></div>
                                    <div><input required name="target-name" class="text-input" id="target-name" type="text" placeholder="Name of the target"></div>
                                </div>
                                <div class="event-form-input-group flex-column flex-start">
                                    <div><label for="target-type">Target Type</label></div>
                                    <div><input required name="target-type" class="text-input" id="target-type" type="text" placeholder="Defined in your WorkOS Dashboard, e.g. team"></div>
                                </div>                                                  
                                <div>
                                    <button class="button button-outline" name="event" id="user_org_deleted" value="user-organization-deleted">                            
                                        <div class="flex width-100p">
                                            <p>Send Event</p> 
                                        </div>                           
                                    </button>
                                </div>                        
                            </form>                                         
                            </div>
                            <div id="export-events" name='#export-events' data-tab-content>
                                <div>
                                    <h3>Export Events</h3>
                                    <div>
                                        <p>Audit Log events can be exported in a 2 step process. First, generate a CSV, and then Download it.</p>                                    
                                    </div>
                                    <hr style="height:0.5px;width:100%;margin-bottom:25px;">
                                    <div class="flex-column">
                                        <div class="event-form-input-group flex-column flex-start">
                                            <div><label for="range-start">Range Start</label></div>
                                            <div><input required name="range-start" class="text-input" id="range-start" type="text" value=<%=rangeStart%> placeholder="ISO-8601 value for start of the export range"></div>
                                        </div> 
                                        <div class="event-form-input-group flex-column flex-start">
                                            <div><label for="range-end">Range End</label></div>
                                            <div><input required name="range-end" class="text-input" id="range-end" type="text" value=<%=rangeEnd%> placeholder="ISO-8601 value for end of the export range"></div>
                                        </div> 
                                        <div class="event-form-input-group flex-column flex-start">
                                            <div><label for="filter-actions">Actions</label></div>
                                            <div><input name="filter-actions" class="text-input" id="filter-actions" type="text" placeholder="Optional comma-separated list of actions to filter on"></div>
                                        </div> 
                                        <div class="event-form-input-group flex-column flex-start">
                                            <div><label for="filter-actors">Actors</label></div>
                                            <div><input name="filter-actors" class="text-input" id="filter-actors" type="text" placeholder="Optional comma-separated list of actors to filter on"></div>
                                        </div> 
                                        <div class="event-form-input-group flex-column flex-start">
                                            <div><label for="filter-targets">Targets</label></div>
                                            <div><input  name="filter-targets" class="text-input" id="filter-targets" type="text" placeholder="Optional comma-separated list of targets to filter on"></div>
                                        </div> 
                                    </div>
                                    <div class="flex flex-start">                                    
                                        <div class="flex width-150px">
                                            <button class="button button-outline" name="event" id="generate_csv" value="generate_csv" >Generate CSV</button>                           
                                        <div>                                                             <div class="flex width-150px">
                                            <button class="button button-outline" name="event" id="access_csv" value="access_csv" >Download CSV</button>
                                        <div>
                                    </div> 
                                </div>
                            </div>                                      
                        </div>                       
                    </div>                                        
                </div>
                <div id="snackbar">Log Event Sent</div>
            </div>
        </div>
        <script>
            const tabs = document.querySelectorAll('[data-tab-target]')
            const tabContents = document.querySelectorAll('[data-tab-content]')
            
            tabs.forEach(tab => {
                tab.addEventListener('click', () => {
                    const target = document.querySelector(tab.dataset.tabTarget)
                    tabContents.forEach(tabContent => {
                        tabContent.classList.remove('active')
                    })
                    tabs.forEach(tab => {
                        tab.classList.remove('active')
                    })
                    tab.classList.add('active')
                    target.classList.add('active')            
                    localStorage.setItem('selectedTab', target.getAttribute('name'))                
                })
            })
            
            tabs.forEach(tab => {
                if(localStorage.getItem('selectedTab') != undefined || null) {
                    if(tab.getAttribute('name') == localStorage.getItem('selectedTab')){
                        const target = document.querySelector(tab.dataset.tabTarget)
                        tabContents.forEach(tabContent => {
                            tabContent.classList.remove('active')
                        })
                        tabs.forEach(tab => {
                            tab.classList.remove('active')
                        })
                        tab.classList.add('active')
                        target.classList.add('active')
                    }                                                        
                }
            })

            function onSendEventSubmit () {
                event.preventDefault()

                const eventAction = document.getElementById("event-action").value
                const eventVersion = document.getElementById("event-version").value
                const actorName = document.getElementById("actor-name").value
                const actorType = document.getElementById("actor-type").value
                const targetName = document.getElementById("target-name").value
                const targetType = document.getElementById("target-type").value

                fetch('/send_event', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        eventAction,
                        eventVersion,
                        actorName,
                        actorType,
                        targetName,
                        targetType
                    })
                }) 
            }

            document.getElementById("generate_csv")
                .addEventListener("click", (event) => {
                    const actions = document.getElementById("filter-actions").value
                    const actors = document.getElementById("filter-actors").value
                    const targets = document.getElementById("filter-targets").value

                    fetch('/generate_csv', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            rangeStart: document.getElementById("range-start").value,
                            rangeEnd: document.getElementById("range-end").value,
                            actions: actions ? actions.split(",") : null,
                            actors: actors ? actors.split(",") : null,
                            targets: targets ? targets.split(",") : null
                        })
                    })
                })
                
            document.getElementById("access_csv")
                .addEventListener("click", (event) => {
                    fetch('/access_csv',{
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }    
                    })
                })
        </script>
        <script src="https://unpkg.com/lucide@latest"></script>
        <script>lucide.createIcons()</script>
    </body>
</html>